<!-- Container for demo purpose -->
<div
    class="my-24 mx-auto md:px-1">
    <!-- Section: Design Block -->
    <section class="mb-32 text-center">
        <h2 class="mb-12 pb-4 text-center text-3xl font-bold">
            Latest articles
        </h2>
        <div class="grid lg:grid-cols-3 gap-3">
            {% for cardImage in cardImages %}
                {% include "components/atoms/cardImageSingle.html.twig" with {
                  "path" : cardImage.path,
                  "alt" : cardImage.alt,
                  "title" : cardImage.title,
                  "texts" : cardImage.texts
                } %}
            {% endfor %}
        </div>
    </section>
    <!-- Section: Design Block -->
</div>
<!-- Container for demo purpose -->
