{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
{% include "components/molecules/accueil_hero.html.twig" %}
{% include "components/molecules/cardImages.html.twig" %}
{% endblock %}
