<div class="mb-6 lg:mb-0">
    <div class="relative block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
        <div class="flex">
            <div class="relative lg:mx-4 -mt-4 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20" data-te-ripple-init data-te-ripple-color="light">
                <img src="{{asset (path)}}" class="lg:object-fill lg:h-48 lg:w-96"/>
                <a href="{{alt}}">
                    <div class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,98.4%,.15)]"></div>
                </a>
            </div>
        </div>
        <div class="container">
            <h5 class="mb-3 text-lg font-bold">{{title}}</h5>
            <p
                class="mb-4 pb-2">
                <!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com -->
                <div class="w-96">
                    {% for text in texts %}
                        <button type="button" class="block w-full cursor-pointer rounded-lg p-2 text-left transition duration-500 hover:bg-orange-50 hover:text-neutral-500 focus:bg-neutral-100 focus:text-neutral-500 focus:ring-0 dark:hover:bg-neutral-600 dark:hover:text-neutral-200 dark:focus:bg-neutral-600 dark:focus:text-neutral-200">
                            <em class="">{{text}}</em>
                        </button>
                    {% endfor %}

                </div>
            </p>
        </div>
    </div>
</div>
