<!-- First item -->
<div class="relative float-left -mr-[100%] w-full !transform-none opacity-0 transition-opacity duration-[600ms] ease-in-out motion-reduce:transition-none" data-te-carousel-fade data-te-carousel-item {{ loop.index0 == 0 ? 'data-te-carousel-active' : ''}}>
    <img src="{{asset (image.path)}}" class="block object-cover w-full" alt="{{image.alt}}"/>
    <div class="font-serif font-extrabold absolute inset-x-[15%] top-40 hidden py-5 text-center text-black md:block text-3xl">
        <h3>
            {% trans %}NOUS FAISONS DE VOS PROJETS UNE RÉALITÉ AVEC UNE OFFRE DE SERVICE GLOBALE{% endtrans %}
        </h3>
    </div>
</div>
