<li
    class="mb-4 lg:mb-0 lg:pr-2 font-bold uppercase" data-te-nav-item-ref>
    <!-- Dashboard link -->
    <a class="lg:border-blue-500 lg:border-t lg:hover:border-t-4 lg:hover:border-orange-400 text-primary-500 transition duration-200 hover:text-orange-400 hover:ease-in-out focus:text-orange-400 disabled:text-black/30 motion-reduce:transition-none dark:text-neutral-200 dark:hover:text-neutral-300 dark:focus:text-neutral-300 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-zinc-400" href="#" data-te-nav-link-ref>{{texte | trans}}</a>
</li>
