<!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com -->
<!-- Main navigation container -->
<nav class="fixed top-0 flex-no-wrap relative flex w-full items-center justify-between bg-[#FBFBFB] py-2 shadow-md shadow-black/5 dark:bg-neutral-600 dark:shadow-black/10 lg:flex-wrap lg:justify-start lg:py-4"> 
    <div
        class="flex w-full flex-wrap items-center justify-between px-3">
        <!-- Hamburger button for mobile view -->
        <button
            class="block border-0 bg-transparent px-2 text-neutral-500 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200 lg:hidden" type="button" data-te-collapse-init data-te-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
            <!-- Hamburger icon -->
            <span class="[&>svg]:w-7">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="h-7 w-7">
                    <path fill-rule="evenodd" d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z" clip-rule="evenodd"/>
                </svg>
            </span>
        </button>

        <a class="mb-4 ml-2 mr-5 mt-3 flex items-center text-neutral-900 hover:text-neutral-900 focus:text-neutral-900 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400 lg:mb-0 lg:mt-0" href="#">
            <img src="{{asset ('images/KARAISONE.webp')}}" style="height: 50px" alt="TE Logo" loading="lazy"/>
        </a>
        <!-- Collapsible navigation container -->
        <div class="!visible hidden flex-grow basis-[100%] items-center lg:!flex lg:basis-auto" id="navbarSupportedContent1" data-te-collapse-item>
            <!-- Logo -->
            <!-- Left navigation links -->
            <ul class="list-style-none ml-auto flex flex-col pl-0 lg:flex-row" data-te-navbar-nav-ref> {% include "components/atoms/navbar_li.html.twig" with {
                    texte: 'Accueil'
                } %}

                {% include "components/atoms/navbar_li.html.twig" with {
                    texte: 'Qui sommes-nous'
                } %}

                {% include "components/atoms/navbar_li.html.twig" with {
                    texte: 'Services'
                } %}

                {% include "components/atoms/navbar_li.html.twig" with {
                    texte: 'Irve'
                } %}

                {% include "components/atoms/navbar_li.html.twig" with {
                    texte: 'Réalisations'
                } %}

                {% include "components/atoms/navbar_li.html.twig" with {
                    texte: 'Rejoignez-nous'
                } %}

                {% include "components/atoms/navbar_li.html.twig" with {
                    texte: 'Contact'
                } %}


            </ul>
        </div>

    </div>
</nav>
